/* Coolors Exported Palette - coolors.co/f15025-012438-e6e8e6-ced0ce-191919 */

$color1: #f15025; //rgba(241, 80, 37, 100)
$color2: #012438; //rgba(1, 36, 56, 100)
$color3: #e6e8e6; //rgba(230, 232, 230, 100)
$color4: #ced0ce; //rgba(206, 208, 206, 100)
$color5: #191919; //rgba(25, 25, 25, 100)
